<div class="container">
  <div class="row">
    <div class="col-12">
      <h3 class="my-5 ml-4 d-inline-block">コメント 検索結果<small>　(全<%= @comments.count %>件)</small></h3>
      <%= link_to '一覧に戻る', admin_root_path, class: "btn btn-primary btn-sm px-4 ml-5" %>
    </div>
    
    <div class="col-10 mx-auto text-top mb-5">
      <%= form_with url: admin_comments_search_path, method: :get, local: true, :class => "form-horaizontal" do |f| %>
        <%= f.text_field :keyword, :class => "form-control col-5" %>
        <%= f.submit 'キーワード検索', :class => "btn btn-sm btn-secondary mb-4" %>
      <% end %>
    </div>
    
    <div class="col-12">
      <table class="table table-hover table-bordered">
        <thead class="table-active">
          <th>投稿日時</th>
          <th>コメント</th>
          <th>会員名</th>
          <th>書籍名</th>
          <th></th>
        </thead>
        <tbody>
          <% @comments.each do |comment| %>
            <tr>
              <td style="width:15%"><%= comment.created_at.strftime('%Y/%m/%d %H:%M') %></td>
              <td style="width:40%"><%= comment.text %></td>
              <td style="width:10%"><%= link_to comment.user.name, admin_user_path(comment.user.id) %></td>
              <td style="width:20%"><%= link_to comment.book.name, admin_book_path(comment.book.id) %></td>
              <td style="width:10%"><%= link_to '削除', admin_comment_path(comment.id), method: :delete,
              class: "btn btn-sm btn-danger px-3",
              data: {confirm: "削除したコメントは元に戻せません。本当に削除しますか？"} %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
