<% if user_signed_in? %>
  <div class="">
    <%= link_to new_book_comment_path(book.id), class: "btn btn-sm btn-accent px-3 mb-4 ml-3" do %>
      <i class="fas fa-pen fa-fw mr-2"></i>感想コメントを投稿
    <% end %>
  </div>
<% end %>

<% comments.each do |comment| %>
  <div class="card-comment col-12 px-3 pt-3 pb-2 mb-3">
    <p class="comment-text pb-0">
      <%= safe_join(comment.text.split("\r"),tag(:br)) %>
    </p>
    <div class="comment-caption row">
      <p class="col-lg-4 col-sm-5 col-12 my-0">
        <small>投稿者： <%= comment.user.name %></small>
      </p>
      <p class="col-lg-4 col-sm-5 col-9 my-0">
        <small>投稿日時： <%= comment.created_at.strftime('%Y/%m/%d %H:%M') %></small>
      </p>
      <div class="goods_buttons_<%= comment.id %> col-lg-1 col-sm-2 col-3 pt-1">
        <%= render partial: 'public/goods/good', locals: { book: book, comment: comment } %>
      </div>
      <div class="delete-btn col-lg-3 col-sm-12 col-12 pt-2">
        <%= link_to 'コメントを削除', book_comment_destroy_admin_book_path(comment.id), method: :delete,
        data: {confirm: "削除したコメントは元に戻せません。本当に削除しますか？"}, class: "text-main" %>
      </div>
    </div>
  </div>
<% end %>