<div class="container-fluid"
style="min-height: calc(100vh - 70px); padding-top:80px; padding-bottom: 60px; background-color:#F3F5F7;">
    <div class="row">
    <div class="col-12 mx-auto">
      <h4 class="my-5 mx-4 px-4 pb-3" style="border-bottom: 1.5px solid #616F7C;">
        書籍管理ページ
      </h4>
    </div>
    
    <div class="col-md-11 col-11 mx-auto mb-4">
      <h5 class="">
        <i class="fas fa-edit fa-lg fa-fw mr-3"></i>
        書籍情報編集
      </h5>
    </div>
    
    <div class="col-md-10 col-sm-10 col-11 mx-auto mb-4">
      <div class="row">
        <div class="col-lg-3 col-md-4 col-11 mb-3 mx-auto">
          <div class="px-0" style="height:auto;">
            <%= image_tag(@item.large_image_url, :style => "max-width:142px;") %>
          </div>
        </div>
        <div class="col-lg-9 col-md-8 col-10 mx-auto">
          <div style="max-width:800px;">
            <%= form_with model: @book, url: admin_book_path(@book.id), method: :patch, class: "form-horaizontal" do |f| %>
              <%= f.hidden_field :user_id, :value => @book.user.id %>
              <div class="row input-group-sm d-flex align-items-center">
                <% if @book.errors.any? %>
                  <ul>
                    <% @book.errors.full_messages.each do |message| %>
                      <li class="text-danger mt-3" style="list-style:none;"><%= message %></li>
                    <% end %>
                  </ul>
                <% end %>
              </div>
              <div class="row input-group-sm d-flex align-items-center">
                <label class="col-lg-3 col-md-4 px-0 mb-2">タイトル</label>
                <%= f.text_field :name, readonly: true, class: "form-control col-lg-7 col-md-8 mb-2" %>
              </div>
              <div class="row input-group-sm d-flex align-items-center">
                <label class="col-lg-3 col-md-4 px-0 mb-2">作者</label>
                <%= f.text_field :author, readonly: true, class: "form-control col-lg-7 col-md-8 mb-2" %>
              </div>
              <div class="row input-group-sm d-flex align-items-center">
                <label class="col-lg-3 col-md-4 px-0 mb-2">シリーズ名</label>
                <%= f.text_field :series, class: "form-control col-lg-7 col-md-8 mb-2" %>
              </div>
              
              <div class="row input-group-sm pt-2">
                <label class="col-lg-3 col-md-4 px-0 mb-2">タグ</label>
                <div class="col-lg-7 col-md-8 px-0 mb-2 pl-1">
                  <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag| %>
                    <div class="form-check mr-3 d-inline-block">
                      <%= tag.label class: "form-check-label" do %>
                        <%= tag.check_box class: "form-check-input" %>
                        <%= tag.text %>
                      <% end %>
                    </div>
                  <% end %>
                </div>
              </div>
              
              <div class="row input-group-sm mb-2 mt-2">
                <label class="col-lg-3 col-md-4 px-0"></label>
                <div class="col-lg-7 col-md-8 px-0">
                  <%= f.submit '変更を保存', class: "btn btn-sm btn-success px-4 mr-3 mt-2" %>
                  <%= link_to '変更せず戻る', admin_book_path(@book.id), class: "btn btn-sm btn-main px-4 mt-2" %>
                </div>
              </div>
              
              <div class="row input-group-sm mb-2 mt-4">
                <label class="col-lg-3 col-md-4 px-0"></label>
                <div class="col-lg-7 col-md-8 px-0">
                  <%= link_to 'この書籍を削除する', admin_book_path(@book.id), method: :delete, class: "btn btn-sm btn-danger px-4",
                  data: {confirm: "削除した書籍は元に戻せません。本当にこの書籍を削除しますか？"} %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    
    
    <div class="col-md-11 col-11 mx-auto my-4">
      <h5 class="">
        <i class="fas fa-tags fa-lg fa-fw mr-3"></i>
        タグを追加する
      </h5>
    </div>
    
    <div class="col-md-10 col-sm-9 col-10 mx-auto mb-4">
      <%= form_tag({ controller:"books", action:"edit" }, method: :get, class: "form-horaizontal") do %>
        <div class="row input-group-sm"  style="max-width:800px;">
          <%= text_field_tag :tag, "", {class: "form-control col-lg-4 col-md-4 col-sm-10 col-11 ml-3 mt-2"} %>
          <div class="col-lg-3 col-md-3 col-5 ml-3 mt-2 px-0">
            <%= submit_tag '追加', class: "btn btn-sm btn-success px-4" %>
          </div>
        </div>
      <% end %>
    </div>

  </div>
</div>