<div class="container">
  <div class="row">
    <div class="col-12">
      <h3 class="my-5 ml-4 d-inline-block">書籍　検索結果<small>　(全<%= @books.count %>件)</small></h3>
      <%= link_to '一覧に戻る', admin_books_path, class: "btn btn-sm btn-primary ml-5 px-4" %>
    </div>
    
    <div class="col-10 mx-auto text-top mb-5">
      <%= form_with url: admin_books_search_path, method: :get, local: true, :class => "form-horaizontal" do |f| %>
        <%= f.text_field :keyword, :class => "form-control col-5" %>
        <%= f.submit 'キーワード検索', :class => "btn btn-sm btn-secondary mb-4" %>
      <% end %>
    </div>
    
    <div class="col-10">
      <table class="table table-hover table-bordered">
        <thead class="table-active">
          <th>登録日</th>
          <th>タイトル</th>
          <th>作者</th>
          <th>シリーズ名</th>
          <th>登録者</th>
        </thead>
        <tbody>
          <% @books.each do |book| %>
            <tr>
              <td><%= book.created_at.strftime('%Y/%m/%d %H:%M') %></td>
              <td><%= link_to book.name, admin_book_path(book.id) %></td>
              <td><%= book.author %></td>
              <td><%= book.series %></td>
              <td><%= link_to book.user.name, admin_user_path(book.user.id) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
