<div class="container-fluid" style="padding-top:80px; background-color:#F3F5F7;">
  <div class="row">
    <div class="col-lg-11 mx-auto">
      <h4 class="my-5 ml-4">
        書籍情報ページ
      </h4>
    </div>
    
    <div class="col-md-11 col-11 mx-auto mb-4">
      <h5 class="">
        <i class="fas fa-book-open fa-lg fa-fw mr-3"></i>
        書籍情報
      </h5>
    </div>
      
    <div class="col-lg-10 col-md-10 col-11 mx-auto mb-5 px-3">
      <div class="row">
        <div class="col-lg-3 col-md-3 col-12">
          <div class="pb-4">
            <%= image_tag(@item.large_image_url) %>
          </div>
        </div>
        
        <div class="col-lg-8 col-md-9 col-12">
          <table class="table table-sm">
            <tbody>
              <tr>
                <td class="text-main align-middle font-weight-bold" style="width:25%;">タイトル</td>
                <td class="font-weight-bold" colspan="3"><%= @book.name %></td>
              </tr>
              <tr>
                <td class="text-main align-middle">作者</td>
                <td colspan="3"><%= @book.author %></td>
              </tr>
              <tr>
                <td class="text-main align-middle">シリーズ</td>
                <td colspan="3"><%= @book.series %></td>
              </tr>
              <tr>
                <td class="text-main align-middle">タグ</td>
                <td colspan="3">
                  <% @book.tags.each do |tag| %>
                    <span class="btn btn-secondary disabled btn-sm mr-1 my-1"><%= tag.name %></span>
                  <% end %>
                </td>
              </tr>
              <tr>
                <td class="text-main">登録日</td>
                <td class="align-middle" style="font-size:0.9rem"><%= @book.created_at.strftime('%Y/%m/%d') %></td>
                <td class="text-main">更新日</td>
                <td class="align-middle" style="font-size:0.9rem"><%= @book.updated_at.strftime('%Y/%m/%d') %></td>
              </tr>
              <tr>
                <td class="text-main align-middle">登録者</td>
                <td colspan="3" class="align-middle" style="font-size:0.95rem"><%= @book.user.name %></td>
              </tr>
            </tbody>
          </table>
            <%= link_to edit_admin_book_path(@book.id), class: "btn btn-sm btn-main px-3 mt-2 ml-3" do %>
              <i class="fas fa-edit fa-fw mr-1"></i>登録情報を編集する
            <% end %>
        </div>
      </div>
    </div>
    
    <div class="col-md-11 col-11 mx-auto mb-4">
      <h5 class="">
        <i class="fas fa-comment-alt fa-lg fa-fw mr-3"></i>
        感想コメント　<small>全<%= @new_comments.count %>件</small>
      </h5>
    </div>
    
    <div class="col-lg-10 col-md-10 col-12 mx-auto px-3">
      <div class="wrap admin">
        <ul id="tab-menu">
          <li class="admin"><a href="#tab1" class="active">いいねが多い順</a></li>
          <li class="admin"><a href="#tab2">新着順</a></li>
          <li class="admin"><a href="#tab3">コメント検索</a></li>
        </ul>
        
        <div id="tab-contents">
          <div id="tab1" class="tab admin">
            <%= render partial: 'tab3', locals: { book: @book, comments: @good_comments } %>
          </div>
          <div id="tab2" class="tab admin">
            <%= render partial: 'tab3', locals: { book: @book, comments: @new_comments } %>
          </div>
          <div id="tab3" class="tab admin">
            <%= render partial: 'tab2', locals: { book: @book } %>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</div>

<%= javascript_pack_tag 'script' %>