<div class="container-fluid top">
  <div class="row">

    <div class="top-image py-5">
      <div class="col-11 px-3 py-5 mx-auto">
        <h2 class="my-5 text-light">
          <span id="e-text">Hontomo </span><small>へようこそ！</small>
        </h2>
        <p class="my-2 text-light">
          <span id="e-text">Hontomo </span>
          は、本好きのための ”感想” 共有型コミュニティサイトです。
        </p>
        <p class="my-2 mb-5 text-light">
          コメント形式で気軽に感想を共有できます。
        </p>
        <%= link_to 'About', about_path, class: "btn btn-main px-5 mx-2 mt-2 d-inline-block", id: "e-text" %>
        <%= link_to '本を探す', books_path, class: "btn btn-accent px-5 mx-2 mt-2 d-inline-block" %>
      </div>
    </div>

    <div class="col-lg-10 col-11 mx-auto">
      <div class="row">
        <div class="card card-normal col-lg-12 col-md-8 col-11 mx-auto mt-5">
          <div class="card-body">
            <h5 class="mt-2 mb-4 ml-2">
              人気の図書
            </h5>
            <div class="mx-auto text-center">
              <% @popular_books.each do |book| %>
                <div class="bookmark d-inline-block px-4 text-left">
                <%= link_to book_path(book.id) do %>
                  <div class="book-image px-0">
                    <% if book.isbn.present? %>
                      <% item = RakutenWebService::Books::Book.search(isbn: book.isbn).first %>
                      <%= image_tag(item.large_image_url) %>
                    <% end %>
                  </div>
                  <p class="mt-2 mb-1 text-truncate"><strong><%= book.name %></strong></p>
                  <p class="mb-4 text-truncate"><%= book.author %></p>
                <% end %>
                </div>
              <% end %>
            </div>
          </div>
        </div></br>

        <div class="card card-normal col-lg-12 col-md-8 col-11 mx-auto mt-5">
          <div class="card-body">
            <h5 class="mt-2 mb-4 ml-2">
              新着図書
            </h5>
            <div class="mx-auto text-center">
              <% @new_books.each do |book| %>
                <div class="bookmark d-inline-block px-4 text-left">
                <%= link_to book_path(book.id) do %>
                  <div class="book-image px-0">
                    <% if book.isbn.present? %>
                      <% item = RakutenWebService::Books::Book.search(isbn: book.isbn).first %>
                      <%= image_tag(item.large_image_url) %>
                    <% end %>
                  </div>
                  <p class="mt-2 mb-1 text-truncate"><strong><%= book.name %></strong></p>
                  <p class="text-truncate mb-4"><%= book.author %></p>
                <% end %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <div class="text-center py-5">
        <%= link_to books_path, class: "btn btn-accent px-5 mt-2" do %>
          <i class="fas fa-book-open mr-2"></i>
          他の本を探す
        <% end %>
      </div>

      <% unless user_signed_in? %>
        <div class="row text-center">
          <div class="card card-info col-lg-6 col-md-8 col-10 py-3 mx-auto mt-4">
            <p>本の登録・コメント投稿にはログインが必要です</p>
            <div class="row">
              <div class="col-sm-6 col-12 mb-2 mx-auto">
                <p><small>会員登録がお済みの方</small></p>
                <%= link_to 'ログイン', new_user_session_path, class: "btn btn-main px-5" %>
              </div>
              <div class="col-sm-6 col-12 mb-2 mx-auto">
                <p><small>会員登録がお済みでない方</small></p>
                <%= link_to '新規登録', new_user_registration_path, class: "btn btn-success px-5" %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>

  </div>
</div>
