<div class="container-fluid admin">
  <div class="row">
    <div class="col-12 mx-auto">
      <h4 class="heading my-5 mx-4 px-4 pb-3">
        コメント管理ページ
      </h4>
    </div>

    <div class="col-11 mx-auto mb-3">
      <h5 class="my-4">
        <i class="fas fa-search fa-lg fa-fw mr-3"></i>
        コメント検索
      </h5>
    </div>

    <div class="col-lg-10 col-9 mx-auto mb-5">
      <%= form_with url: admin_comments_search_path, method: :get, local: true, class: "form-horaizontal" do |f| %>
        <div class="admin-container row input-group-sm">
          <%= f.text_field :keyword, class: "form-control col-lg-4 col-sm-7 col-12 mr-2 my-1" %>
          <div class="col-md-2 col-sm-3 col-5 my-1 px-0">
            <%= f.submit '検索', class: "btn btn-sm btn-main px-4" %>
          </div>
        </div>
      <% end %>
    </div>

    <div class="col-11 mx-auto mb-3">
      <h5 class="my-4">
        <i class="fas fa-comment-alt fa-lg fa-fw mr-3"></i>
        コメント一覧<small> （全 <%= @all_comments.count %> 件）</small>
      </h5>
    </div>

    <div class="col-sm-10 col-11 mx-auto px-0">
      <table class="table admin-table table-hover table-bordered">
        <thead>
          <th style="width:15%;">投稿日時</th>
          <th style="width:40%;">コメント</th>
          <th style="width:15%;">投稿者</th>
          <th style="width:20%;">書籍名</th>
          <th style="width:10%;"></th>
        </thead>
        <tbody>
          <% @comments.each do |comment| %>
            <tr>
              <td><%= comment.created_at.strftime('%Y/%m/%d  %H:%M') %></td>
              <td><%= comment.text %></td>
              <td><%= link_to comment.user.name, admin_user_path(comment.user.id) %></td>
              <td><%= link_to comment.book.name, admin_book_path(comment.book.id) %></td>
              <td>
                <%= link_to '削除', admin_comment_path(comment.id), method: :delete,
                class: "text-main", data: {confirm: "削除したコメントは元に戻せません。本当に削除しますか？"} %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <div class="text-center mt-4">
        <%= paginate @comments %>
      </div>
    </div>

  </div>
</div>
