<div class="container-fluid"
style="min-height: calc(100vh - 70px); padding-top:80px; padding-bottom: 60px; background-color:#F3F5F7;">
  <div class="row">
    <div class="col-12 mx-auto">
      <h4 class="my-5 mx-4 px-4 pb-3" style="border-bottom: 1.5px solid #616F7C;">
        タグ管理ページ
      </h4>
    </div>
    
    <div class="col-md-11 col-11 mx-auto my-4">
      <h5 class="">
        <i class="fas fa-tag fa-lg fa-fw mr-3"></i>
        タグを追加する
      </h5>
    </div>
    
    <div class="col-lg-10 col-md-9 col-sm-10 col-11 px-0 mx-auto mb-4">
      <%= form_tag({controller:"tags",action:"index"}, method: :get, class: "form-horaizontal") do %>
        <div class="row input-group-sm" style="max-width:800px;">
          <%= text_field_tag :tag, "", {class: "form-control col-lg-4 col-md-4 col-sm-10 col-11 ml-3 mt-2"} %>
          <div class="col-lg-3 col-md-3 ml-3 mt-2 px-0">
            <%= submit_tag '追加', class: "btn btn-sm btn-success px-4" %>
          </div>
        </div>
      <% end %>
    </div>
    
    <div class="col-md-11 col-11 mx-auto my-4">
      <h5 class="">
        <i class="fas fa-tags fa-lg fa-fw mr-3"></i>
        タグ一覧
        <small> （全 <%= @all_tags.count %> 件）</small>
      </h5>
    </div>
    
    <div class="col-lg-10 col-md-9 col-sm-10 col-11 mx-auto px-0">
      <table class="table table-hover table-bordered"
        style="max-width:600px; font-size:0.9rem">
        <thead style="background-color:#42455A; color:#FFFFFF;">
          <th style="width:35%;">タグ名</th>
          <th style="width:18%;">登録数</th>
          <th style="width:30%;">作成日時</th>
          <th style="width:17%;"></th>
        </thead>
        <tbody style="background-color:#FFFFFF;">
          <% @tags.each do |tag| %>
            <tr>
              <td><strong><%= tag.name %></strong></td>
              <td><%= tag.books.count %></td>
              <td><%= tag.created_at.strftime('%Y/%m/%d %H:%M') %></td>
              <td><%= link_to '削除', admin_tag_path(tag.id), method: :delete,
              class: "text-main", data: {confirm: "削除したタグは元に戻せません。本当に削除しますか？"} %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      
      <div class="text-center mt-4">
        <%= paginate @tags %>
      </div>
    </div>
    
  </div>
</div>