<div class="container-fluid" style="padding-top:80px; background-color:#F3F5F7;">
  <div class="row">
    <div class="col-lg-11 mx-auto">
      <h4 class="my-5 ml-4">
        <i class="fas fa-users fa-lg fa-fw mr-3"></i>
        会員一覧<small> （全 <%= @all_users.count %> 件）</small>
      </h4>
    </div>
    
    <div class="col-lg-9 col-md-10 col-11 mx-auto px-0">
      <table class="table table-hover table-bordered"
        style="width:100%; max-width:900px; font-size:0.9rem">
          <thead style="background-color:#42455A; color:#FFFFFF;">
            <th style="width:13%;">ID</th>
            <th style="width:30%;">会員名</th>
            <th style="width:37%;">メールアドレス</th>
            <th style="width:20%;">ステータス</th>
          </thead>
          <tbody style="background-color:#FFFFFF;">
            <% @users.each do |user| %>
              <tr>
                <td><%= user.id %></td>
                <td><strong><%= link_to user.name, admin_user_path(user.id) %></strong></td>
                <td style="word-wrap:break-word;"><%= user.email %></td>
                <td>
                  <% if user.is_deleted == false %>
                    <strong class="text-success">有効</strong>
                  <% else %>
                    <strong class="text-secondary">退会</strong>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        
        <div class="text-center mt-4">
          <%= paginate @users %>
        </div>
    </div>
    
  </div>
</div>
