<div class="container-fluid" style="padding-top:80px; padding-bottom: 60px; background-color:#F3F5F7;">
  <div class="row">
    <div class="col-12 mx-auto">
      <h4 class="my-5 mx-4 px-4 pb-3" style="border-bottom: 1.5px solid #616F7C;">
        会員管理ページ
      </h4>
    </div>
    
    <div class="col-md-11 col-11 mx-auto mb-3">
      <h5 class="my-4">
        <i class="fas fa-user fa-lg fa-fw mr-3"></i>
        <%= @user.name %> さんの会員情報
      </h5>
    </div>
    
    <div class="col-lg-9 col-md-9 col-sm-10 col-10 mx-auto mb-5 px-3">
      <div class="row">
        <table class="table table-sm col-lg-8 col-md-12"
        style="table-layout:fixed; width:100%; word-wrap:break-word; max-width:800px;">
          <tr>
            <td class="pr-2" style="width: 30%;">会員ID</td>
            <td style="width: 70%;"><%= @user.id %></td>
          </tr>
          <tr>
            <td>ニックネーム</td>
            <td><%= @user.name %></td>
          </tr>
          <tr>
            <td>メールアドレス</td>
            <td><%= @user.email %></td>
          </tr>
          <tr>
            <td>会員ステータス</td>
            <td>
              <% if @user.is_deleted == false %>
                <strong class="text-success">有効</strong>
              <% else %>
                <strong class="text-secondary">退会</strong>
              <% end %>
            </td>
          </tr>
          <tr>
            <td></td>
            <td>
              <%= link_to edit_admin_user_path, class: "btn btn-sm btn-main px-3 mt-4 mr-2" do %>
                <i class="fas fa-edit fa-fw mr-1"></i>登録情報を変更
              <% end %>
              <%= link_to admin_user_comment_path, class: "btn btn-sm btn-accent px-3 mt-4" do %>
                <i class="fas fa-comment-alt fa-fw mr-1"></i>コメント一覧を見る
              <% end %>
            </td>
          </tr>
        </table>
      </div>
    </div>
    
  </div>
</div>

