<div class="container">
  <div class="row">
    <div class="col-12">
      <h4 class="my-5">本を登録する</h4>
    </div>
    <div class="col-10">
      <div class="row form-group-sm">
        <%= form_with url: books_find_path, method: :get, local: true, :class => "form-horaizontal" do |f| %>
          <%= f.text_field :keyword, :class => "form-control" %>
          <%= f.submit '題名で検索', :class => "btn btn-sm btn-secondary" %>
        <% end %>
      </div>
      <h4 class="my-5">検索結果</h4>
      <div id="item_list">
        <% if @items.present? %>
          <% @items.each do |item| %>
          <div class="mb-3">
            <%= image_tag(item.medium_image_url) %>
            <strong class="mx-3"><%= item.title %></strong>
            <%= item.author %>
            <%= link_to '楽天ブックスでみる', item.item_url, :class => "btn btn-sm btn-success ml-5" %>
            <%= form_with url: new_book_path, method: :get do |f| %>
              <%= f.hidden_field :isbn, :value => item.isbn %>
              <%= f.submit '登録画面へ', :class => "btn btn-sm btn-secondary mt-2 mb-3" %>
            <% end %> 
          </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>