<div class="container">
  <div class="row">
    <div class="col-12">
      <h4 class="my-5">本をさがす</h4>
    </div>
    
    <div class="col-10 mx-auto text-top mb-5">
      <%= form_with url: books_search_path, method: :get, local: true, :class => "form-horaizontal" do |f| %>
        <%= f.text_field :keyword, :class => "form-control col-5" %>
        <%= f.submit 'キーワード検索', :class => "btn btn-sm btn-secondary mb-4" %>
      <% end %>
      
      <%= form_tag({controller: "books", action: "search"}, method: :get) do %>
        <% Tag.all.each do |t| %>
          <%= check_box :tag_ids, t.name %><%= t.name %>
        <% end %>
        </br>
        <%= submit_tag 'タグ検索' %>
      <% end %>
    </div>
    
    <div class="col-10 mx-auto text-top">
      <h4 class="mb-4">すべての本　<small>(全<%= @books.count %>件)</small></h4>
      <% @books.each do |book| %>
        <div class="d-inline-block" style="vertical-align: top; width: 20%;">
        <%= link_to book_path(book.id) do %>
          <div class="border" style="width: 150px; height: 200px;">
          <% if book.isbn.present? %>
            <% item = RakutenWebService::Books::Book.search(isbn: book.isbn).first %>
            <%= image_tag(item.large_image_url) %>
          <% end %>
          </div>
          <p class="mt-3 mb-1"><strong><%= book.name %></strong></p>
          <p><%= book.author %></p>
        <% end %>
        </div>
      <% end %>
    </div>
    
   
    <div class="col-10 mx-auto text-center pt-4">
      <p><strong>お探しの本が見つかりませんでしたか？</strong></p>
      <p><strong>あなたの読んだ本を登録して、最初のコメントを投稿しましょう！</strong></p>
    </div>
    
    <% if user_signed_in? %>
      <div class="col-10 mx-auto text-center">
        <%= link_to '本を登録する', books_find_path, :class => "btn btn-secondary px-5 mt-4" %>
      </div>
    <% else %>
      <div class="col-6 text-center my-3 py-3 mx-auto bg-light">
        <p><strong>本の登録・コメント投稿には会員登録が必要です</strong></p>
        <div class="row">
          <div class="col pr-0">
            <p>会員登録がお済みの方</p>
            <%= link_to 'ログイン', new_user_session_path, :class => "btn btn-primary px-5" %>
          </div>
          <div class="col pl-0">
            <p>会員登録がお済みでない方</p>
            <%= link_to '新規登録', new_user_registration_path, :class => "btn btn-success px-5" %>
          </div>
        </div>
      </div>
    <% end %>
    
  </div>
</div>