<div class="container-fluid"
style="min-height: calc(100vh - 70px); padding-top:80px; padding-bottom: 60px; background-color: #FAF8F8;">
  <div class="row">
    <div class="col-12 mx-auto">
      <h4 class="my-5 mx-4 px-4 pb-3" style="border-bottom: 1.5px solid #616F7C;">
        本をさがす
      </h4>
    </div>
    
    <div class="col-md-11 col-11 mx-auto mb-3">
      <h5 class="">
        <i class="fas fa-search fa-lg fa-fw mr-3"></i>
        本を検索
      </h5>
    </div>
    
    <div class="col-lg-10 col-md-10 col-sm-10 col-11 mx-auto">
      <div class="card px-2" style="background-color: #FFFFFF; max-width:700px; border:none;">
        <div class="card-body">
          <h6>キーワードでさがす</h6>
          <%= form_with url: books_search_path, method: :get, local: true, class: "form-horaizontal" do |f| %>
            <div class="row input-group-sm px-4 mb-4">
              <%= f.text_field :keyword, :placeholder => "題名 ／ 作者名",
              class: "form-control col-lg-7 col-md-7 col-12 mr-2 my-1" %>
              <div class="col-lg-2 col-md-2 col-5 my-1 px-0">
                <%= f.submit 'キーワード検索', class: "btn btn-sm btn-main px-4" %>
              </div>
            </div>
          <% end %>
          
          <h6 class="my-3">タグからさがす</h6>
          <%= form_tag({controller: "books", action: "search"}, method: :get) do %>
            <div class="row mb-2 px-4">
              <div class="col-11 px-0">
                <% Tag.all.each do |t| %>
                  <span class="mr-3" style="white-space: nowrap;">
                    <%= check_box :tag_ids, t.name, class: "mr-1" %>
                    <%= t.name %>
                  </span>
                <% end %>
              </div>
              <div class="col-lg-7 px-0">
                <%= submit_tag 'タグ検索', class: "btn btn-sm btn-main px-5 mt-3" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    
    <div class="col-md-11 col-11 mx-auto mb-4">
      <h5 class="mt-5">
        <i class="fas fa-book fa-lg fa-fw mr-3"></i>
        すべての本
        <small class="">（全 <%= @all_books.count %> 件）</small>
      </h5>
    </div>
    
    <div class="col-lg-10 col-md-10 col-9 mx-auto mb-5 px-0">
      <div style="max-width:800px">
        <% @books.each do |book| %>
          <div class="d-inline-block px-4 mb-3 text-left" style="vertical-align: top; width: 190px;">
            <%= link_to book_path(book.id) do %>
              <% if book.isbn.present? %>
                <div class="px-0" style="height:210px">
                  <% if book.isbn.present? %>
                    <% item = RakutenWebService::Books::Book.search(isbn: book.isbn).first %>
                    <%= image_tag(item.large_image_url, :style => "max-width:142px;") %>
                  <% end %>
                </div>
              <% end %>
              <p class="mt-2 mb-1 text-truncate"><strong><%= book.name %></strong></p>
              <p class="mb-4 text-truncate"><%= book.author %></p>
            <% end %>
          </div>
        <% end %>
        <div class="text-center my-4">
          <%= paginate @books %>
        </div>
        
        <div class="text-center mt-5">
          <p>お探しの本が見つかりませんでしたか？</p>
          <p>あなたの読んだ本を登録して、最初のコメントを投稿しましょう！</p>
          <% if user_signed_in? %>
            <%= link_to '本を登録する', books_find_path, class: "btn btn-accent px-5 mt-4" %>
          <% else %>
            <div class="row">
              <div class="col-lg-8 col-md-8 col-12 py-3 mx-auto mt-4 text-center card card-info">
                <p>本の登録・コメント投稿にはログインが必要です</p>
                <div class="row text-center">
                  <div class="col-sm-6 col-12 mb-2 mx-auto text-center">
                    <p><small>会員登録がお済みの方</small></p>
                    <%= link_to 'ログイン', new_user_session_path, :class => "btn btn-main px-5" %>
                  </div>
                  <div class="col-sm-6 col-12 mb-2 mx-auto text-center">
                    <p><small>会員登録がお済みでない方</small></p>
                    <%= link_to '新規登録', new_user_registration_path, :class => "btn btn-success px-5" %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>

  </div>
</div>