<div class="container-fluid"
style="min-height: calc(100vh - 70px); padding-top:80px; padding-bottom: 60px; background-color: #FAF8F8;">
  <div class="row">
    <div class="col-12 mx-auto">
      <h4 class="my-5 mx-4 px-4 pb-3" style="border-bottom: 1.5px solid #616F7C;">
        新しい本を登録する
      </h4>
    </div>
    
    <div class="col-md-11 col-11 mx-auto mb-4">
      <h5 class="">
        <i class="fas fa-check-square fa-lg fa-fw mr-3"></i>
        確認画面
      </h5>
    </div>
    
    <div class="col-lg-10 col-md-10 col-sm-9 col-9 mx-auto mt-2 mb-5 px-3">
      <div class="row px-0">
        <h6 class="col-lg-5 col-md-7 col-sm-10 col-11 mt-2 px-0">あなたが選択中の本</h6>
        <div class="col-lg-3 col-md-4 col-sm-10 col-11 mt-2 px-0">
          <%= link_to '楽天ブックスでみる', @item.item_url, class: "btn btn-sm btn-outline-secondary px-3" %>
        </div>
      </div>
      
      <div class="row px-0 mt-4">
        <div class="col-lg-3 col-md-4 col-sm-11 col-11 mb-3 px-0">
          <div class="pt-3 pl-3" style="height:auto;">
            <%= image_tag(@item.large_image_url, :style => "max-width:150px;") %>
          </div>
        </div>
        
        <table class="table table-borderless my-3 col-lg-9 col-md-8 col-sm-11 col-11">
          <tr>
            <td>
              <strong><%= @item.title %></strong>
            </td>
          </tr>
          <tr>
            <td><%= @item.author %></td>
          </tr>
          <tr>
            <td></td>
          </tr>
        </table>
      </div>
      <div class="row px-0 mt-4">
        <div class="col-11 mb-3 px-0">
          <%= form_with model: @book, url: books_path, method: :post do |f| %>
            <%= f.hidden_field :isbn, :value => @item.isbn %>
            <%= f.hidden_field :name, :value => @item.title %>
            <%= f.hidden_field :author, :value => @item.author %>
            <%= f.hidden_field :user_id, :value => current_user.id %>
            <%= link_to '検索画面に戻る', books_find_path, class: "btn btn-sm btn-main px-4 d-inline-block my-2 mx-3" %>
            <%= f.submit 'この本を登録する', class: "btn btn-sm btn-accent px-4 d-inline-block mx-3" %>
          <% end %>
        </div>
      </div>
    </div>
    
  </div>
</div>
