<div class="container-fluid" style="padding-top:80px">
  <div class="row">
    <div class="col-12">
      <h4 class="my-5">本をみる</h4>
    </div>
    
    <div class="col-11 mx-auto mb-5">
      <h5 class="mb-4"><i class="fas fa-book-open fa-lg fa-fw mr-3"></i>本の情報</h5>
      
      <div class="row">
        <div class="col-lg-3 pl-5">
          <div class="pb-4">
            <%= image_tag(@item.large_image_url) %>
          </div>
        </div>
        
        <div class="col-lg-6">
          <table class="table table-sm">
            <tbody>
              <tr>
                <td class="text-main align-middle font-weight-bold" style="width:25%;">タイトル</td>
                <td class="font-weight-bold" colspan="3"><%= @book.name %></td>
              </tr>
              <tr>
                <td class="text-main align-middle">作者</td>
                <td colspan="3"><%= @book.author %></td>
              </tr>
              <tr>
                <td class="text-main align-middle">シリーズ</td>
                <td colspan="3"><%= @book.series %></td>
              </tr>
              <tr>
                <td class="text-main align-middle">タグ</td>
                <td colspan="3">
                  <% @book.tags.each do |tag| %>
                    <span class="btn btn-secondary disabled btn-sm mr-1 my-1"><%= tag.name %></span>
                  <% end %>
                </td>
              </tr>
              <tr>
                <td class="text-main">登録日</td>
                <td class="align-middle" style="font-size:0.9rem"><%= @book.created_at.strftime('%Y/%m/%d') %></td>
                <td class="text-main">更新日</td>
                <td class="align-middle" style="font-size:0.9rem"><%= @book.updated_at.strftime('%Y/%m/%d') %></td>
              </tr>
              <tr>
                <td class="text-main align-middle">登録者</td>
                <td colspan="3" class="align-middle" style="font-size:0.95rem"><%= @book.user.name %></td>
              </tr>
            </tbody>
          </table>
          <% if user_signed_in? %>
            <% if @book.bookmarked_by?(current_user) %>
              <%= link_to book_bookmark_path(@book), method: :delete, class: "btn btn-sm btn-accent px-3 mt-2 mx-3" do %>
                <i class="fas fa-star fa-fw mr-1"></i>お気に入り登録する
              <% end %>
            <% else %>
              <%= link_to book_bookmarks_path(@book), method: :post, class: "btn btn-sm btn-accent px-3 mt-2 mx-3" do %>
                <i class="fas fa-star fa-fw mr-1"></i>お気に入り登録済み
              <% end %>
            <% end %>
          <% end %>
          <% if user_signed_in? %>
            <%= link_to edit_book_path(@book.id), class: "btn btn-sm btn-main px-3 mt-2 ml-3" do %>
              <i class="fas fa-edit fa-fw mr-1"></i>登録情報を編集する
            <% end %>
          <% end %>
        </div>
      </div>
      
    </div>
    
    <div class="col-11 mx-auto">
      <h5 class="mb-5">
        <i class="fas fa-comment-alt fa-lg fa-fw mr-3"></i>感想コメント　<small>全<%= @new_comments.count %>件</small>
      </h5>
      
      <div class="wrap mb-5">
        <ul id="tab-menu">
          <li><a href="#tab1" class="active">いいねが多い順</a></li>
          <li><a href="#tab2">新着順</a></li>
          <li><a href="#tab3">コメント検索</a></li>
          <li><a href="#tab4">あなたのコメント</a></li>
        </ul>
        
        <div id="tab-contents">
          <div id="tab1" class="tab">
            <%= render partial: 'tab', locals: { book: @book, comments: @good_comments } %>
          </div>
          <div id="tab2" class="tab">
            <%= render partial: 'tab', locals: { book: @book, comments: @new_comments } %>
          </div>
          <div id="tab3" class="tab">
            <%= render partial: 'tab2', locals: { book: @book } %>
          </div>
          <div id="tab4" class="tab">
            <% if user_signed_in? %>
              <%= render partial: 'tab', locals: { book: @book, comments: @user_comments } %>
            <% else %>
              <p class="text-center my-5">投稿コメントがありません</p>
              <p class="text-center my-5">
                コメントの投稿にはログインが必要です</br>
                <%= link_to 'ログイン', new_user_session_path, class: "text-main" %> はこちら
                <%= link_to '新規登録', new_user_registration_path, class: "text-main ml-4" %> はこちら
              </p>
            <% end %>
          </div>
        </div>
      </div>
      
      <div class="row">
        <% if user_signed_in? %>
          <%= link_to new_book_comment_path(@book.id), class: "btn btn-accent px-3 my-4" do %>
            <i class="fas fa-pen fa-fw mr-2"></i>感想コメントを投稿
          <% end %>
        <% else %>
          <div class="col-lg-6 col-md-8 col-sm-11 col-xs-11 py-3 mt-5 mx-auto text-center card card-info">
            <p>本の登録・コメント投稿にはログインが必要です</p>
            <div class="row text-center">
              <div class="col-lg-5 col-md-5 mb-2 mx-auto text-center">
                <p><small>会員登録がお済みの方</small></p>
                <%= link_to 'ログイン', new_user_session_path, :class => "btn btn-main px-5" %>
              </div>
              <div class="col-lg-5 col-md-5 mb-2 mx-auto text-center">
                <p><small>会員登録がお済みでない方</small></p>
                <%= link_to '新規登録', new_user_registration_path, :class => "btn btn-success px-5" %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      
      
    </div>
    
  </div>
</div>

<%= javascript_pack_tag 'script' %>
