<div class="container-fluid"
style="min-height: calc(100vh - 70px); padding-top:80px; padding-bottom: 60px; background-color: #FAF8F8;">
  <div class="row">
    <div class="col-12 mx-auto">
      <h4 class="my-5 mx-4 px-4 pb-3" style="border-bottom: 1.5px solid #616F7C;">
        会員ページ
      </h4>
    </div>
    
    <div class="col-md-11 col-11 mx-auto mb-4">
      <h5 class="">
        <i class="fas fa-sign-in-alt fa-lg fa-fw mr-3"></i>
        ログイン
      </h5>
    </div>
    
    <div class="col-lg-10 col-md-10 col-10 mx-auto mb-5 px-0">
      <%= form_with model: @user, url: user_session_path, class: "form-horaizontal" do |f| %>
        <div class="row input-group-sm ml-4 mr-3 d-flex align-items-center">
          <label class="label-control col-lg-2 mb-3">メールアドレス</label>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "col-lg-5 col-md-8 form-control ml-3 mb-3"  %>
        </div>
        
        <div class="row input-group-sm ml-4 mr-3 d-flex align-items-center">
          <label class="label-control col-lg-2 mb-3">パスワード</label>
          <%= f.password_field :password, autocomplete: "current-password", class: "col-lg-3 col-md-5 form-control ml-3 mb-3"  %>
        </div>
      
        <% if devise_mapping.rememberable? %>
          <div class="row input-group-sm ml-4 mr-3 mb-3 d-flex align-items-center">
            <label class="label-control col-lg-2"></label>
            <%= f.check_box :remember_me, class: "ml-4" %>
            <label class="ml-2 pb-1"><small>ログインしたままにする</small></label>
          </div>
        <% end %>
        
        <div class="row input-group-sm ml-4 mr-3">
          <label class="label-control col-lg-2"></label>
          <%= f.submit "ログイン", :class => "btn btn-main px-5 my-2 ml-3"  %>
        </div>
      <% end %>
    </div>
    
    <div class="col-md-11 col-11 mx-auto mb-4">
      <h5 class="">
        <i class="fas fa-user-plus fa-lg fa-fw mr-3"></i>
        会員登録がお済みでない方
      </h5>
    </div>
    
    <div class="col-lg-10 col-md-9 col-10 mx-auto mb-5 px-0">
      <p class="ml-4"><%= link_to 'こちら', new_user_registration_path, class: "text-main" %>　から新規登録を行ってください。</p>
    </div>
    
  </div>
</div>
