<div class="container-fluid public">
  <div class="row">
    <div class="col-12 mx-auto">
      <h4 class="heading my-5 mx-4 px-4 pb-3">
        マイページ
      </h4>
    </div>

    <div class="col-11 mx-auto mb-4">
      <h5>
        <i class="fas fa-user-edit fa-lg fa-fw mr-3"></i>
        会員情報の変更
      </h5>
    </div>

    <div class="col-lg-10 col-md-9 col-10 mx-auto mb-5 px-3">
      <div class="edit-container">
        <%= form_with model: @user, url: users_information_path, method: :patch, class: "form-horaizontal" do |f| %>
          <div class="row input-group-sm mb-4">
            <% if @user.errors.any? %>
              <ul class="col-12 pl-5">
                <% @user.errors.full_messages.each do |message| %>
                  <li class="text-danger"><%= message %></li>
                <% end %>
              </ul>
            <% end %>
          </div>
          <div class="row input-group-sm">
            <label class="col-lg-3 col-md-4 mb-2 px-0">ニックネーム<small>（2～10文字）</small></label>
            <%= f.text_field :name, class: "form-control col-lg-4 col-md-5 mb-2" %>
          </div>
          <div class="row input-group-sm">
            <label class="col-lg-3 col-md-4 mb-2 px-0">メールアドレス</label>
            <%= f.email_field :email, class: "form-control col-lg-6 col-md-7 mb-2" %>
          </div>
          <div class="row input-group-sm mb-2 mt-2">
            <label class="col-lg-3 col-md-4"></label>
            <%= f.submit '変更を保存', class: "btn btn-sm btn-success px-5 mr-4 mt-3" %>
            <%= link_to 'マイページに戻る', users_mypage_path, class: "btn btn-sm btn-main px-4 mr-4 mt-3" %>
          </div>
        <% end %>
      </div>

    </div>

    <div class="col-11 mx-auto mb-4">
      <h5>
        <i class="fas fa-user-slash fa-lg fa-fw mr-3"></i>
        退会する
      </h5>
    </div>

    <div class="col-lg-10 col-md-9 col-10 mx-auto mb-5 px-3">
        <p>
          退会をご希望の方は <%= link_to 'こちら', users_confirm_path, class: "text-main" %>
          （※確認画面へ移行します）
        </p>
    </div>

  </div>
</div>
