<div class="container-fluid public">
  <div class="row">
    <div class="col-12 mx-auto">
      <h4 class="my-5 mx-4 px-4 pb-3" style="border-bottom: 1.5px solid #616F7C;">
        マイページ
      </h4>
    </div>

    <div class="col-md-11 col-11 mx-auto mb-4">
      <h5 class="">
        <i class="fas fa-user fa-lg fa-fw mr-3"></i>
        会員情報
      </h5>
    </div>

    <div class="col-lg-10 col-md-9 col-10 mx-auto mb-5 px-3">
      <div class="row">
        <table class="table table-sm col-lg-7 col-md-10" style="table-layout:fixed; width:100%; word-wrap:break-word;">
          <tr>
            <td style="width: 40%;">ニックネーム</td>
            <td style="width: 60%;"><%= @user.name %></td>
          </tr>
          <tr>
            <td style="width: 40%;">メールアドレス</td>
            <td style="width: 60%; white-space: normal;"><%= @user.email %></td>
          </tr>
          <tr>
            <td colspan="2">
              <%= link_to users_information_edit_path, class: "btn btn-sm btn-main px-3 mt-3" do %>
                <i class="fas fa-edit fa-fw mr-1"></i>登録情報の変更はこちら
              <% end %>
            </td>
          </tr>
        </table>
      </div>
    </div>

    <div class="col-md-11 col-11 mx-auto mb-4">
      <h5 class="">
        <i class="fas fa-star fa-lg fa-fw mr-3"></i>
        お気に入り登録した本
      </h5>
    </div>

    <div class="col-lg-10 col-md-9 col-9 mx-auto mb-5 px-3">
      <div class="row">
        <div class="">
          <% @bookmarks.each do |bookmark| %>
            <div class="d-inline-block px-4 text-left" style="vertical-align: top; width: 190px;">
              <%= link_to book_path(bookmark.book_id) do %>
                <div class="px-0" style="height:210px">
                  <% if bookmark.book.isbn.present? %>
                    <% item = RakutenWebService::Books::Book.search(isbn: bookmark.book.isbn).first %>
                    <%= image_tag(item.large_image_url, :style => "max-width:142px;") %>
                  <% end %>
                </div>
                <p class="mt-2 mb-1 text-truncate"><strong><%= bookmark.book.name %></strong></p>
                <p class="mb-4 text-truncate"><%= bookmark.book.author %></p>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>

  </div>
</div>
